<div class="count-number">
  <%= "#{@counter}F" %>
<div>
<div class="count-form">
  <%= form_with(model: @count, url: counts_path, local: true, method: :post) do |f| %>
    <%= f.submit "(￣ー￣)ｂ", id: 'count-btn' %>
  <% end %>
</div>